/* entry colours */

.entry-colour-1,
.text-colour-1 {
    color: rgb(20, 177, 231);
}

.entry-colour-2,
.text-colour-2 {
    color: rgb(186, 75, 22);
}

.entry-colour-3,
.text-colour-3 {
    color: rgb(0, 45, 59);
}


.entry-colour-4,
.text-colour-4 {
    color: #3ADB76;
}

.entry-colour-5,
.text-colour-5 {
    color: #EC5840;
}

/* Display colour in Wagtail */
.text-colour-1::before,
.text-colour-2::before,
.text-colour-3::before,
.text-colour-4::before,
.text-colour-5::before {
    content: '\2022';
    font-size: 72px;
    line-height: 8px;
}