{% load wagtailcore_tags %}
<li class="column column-block block-{{ block.block_type }} {{ block.value.title }}">
    <div class="blocks" data-equalizer-watch>
        <h3 class="text-center">{{ block.value.title }}</h3>
        {{ block.value.description|safe }}
    </div>
{% if block.value.url %}
    <a href="{{ block.value.url }}" class="button expanded">Explore {{ block.value.title }}</a>
  {% elif block.value.page %}
  <a href="{% pageurl block.value.page %}" class="button expanded">Explore {{ block.value.title }}</a>
{% endif %}
</li>
