{% extends "cms/rich_text_page.html" %}
{% load cms_tags wagtailcore_tags wagtailimages_tags %}

{% block dictionary %}
{# Filters #}
{% with request_full_path=request.get_full_path|querify %}
<div class="filters">
  <div class="applied">
    {% comment %}
    If filters are applied, display them here
    {% endcomment %}
    {% if selected_facets %}
    <ul class="list-horizontal no-bullet">
      {% for selected_facet in selected_facets %}
      <li><a class="filter"
          href="{{ selected_facet.remove_url }}">{{ selected_facet.value }}</a>
      </li>
      {% endfor %}
      <li class="reset text-right float-right"><a
          href="{% pageurl self %}?q=">Clear all filters</a></li>
    </ul>
    {% endif %}
  </div>
  <h3 class="toggler close">Filters</h3>
  <div class="content hide" data-equalizer data-equalize-by-row="true">
    <div class="row small-up-1 medium-up-3 large-up-4">
      <div class="column column-block">
        <div class="card" data-equalizer-watch>
          <div class="card-divider">
            Language
          </div>
          <div class="card-section">
            <ul>
              {% for l in facets.language %}
              <li><a
                  href="{{ request_full_path }}&amp;selected_facets=language:{{ l.0|urlencode }}">{{ l.0 }}
                  ({{l.1}})</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="column column-block">
        <div class="card" data-equalizer-watch>
          <div class="card-divider">
            A-Z
          </div>
          <div class="card-section clearfix">
            <ul class="no-bullet grid-like">
              {% for f in facets.first_letter %}
              <li><a
                  href="{{ request_full_path }}&amp;selected_facets=first_letter:{{ f.0|urlencode }}">{{ f.0 }}
                  ({{f.1}})</a></li>
              {% endfor %}

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endwith %}

<ul>
  {% for result in search_result %}
  {% comment %}
  This list should be in alphabetical order by default
  Other filters will be available
  {% endcomment %}

  <li>
    <a href="{{ result.page_url }}" class="entry">{{ result.lemma }}</a>
    <a href="{{ result.page_url }}" class="entry">{{ result.lemma }}</a>
  </li>

  {% endfor %}
</ul>
{% endblock %}
